.venv/
__pycache__/
*.pyc
*.pyo
.env
*.duckdb
data/raw/*.csv
data/staging/
data/curated/
dbt_project/target/
dbt_project/dbt_packages/
dbt_project/logs/
.terraform/
terraform.tfstate
terraform.tfstate.backup
airflow/logs/
airflow/airflow.db
*.egg-info/
dist/
.DS_Store
